.MetaData h5, .minting_proccess{
    color: rgba(201, 195, 243, 0.583);
}
 .instance_metadata{
    color: rgb(201, 195, 243);
}
.nft_receiver_address input{
    background-color: rgba(201, 195, 243, 0.583);
    color: #0f0823;
}
/*.instance_metadata h3{
    border-bottom: 1px solid #0f0823;
}
/* .instance_metadata span{
    top: -2px;
    right: -1px;
} 
.nft_instance_info{
    color:#0f0823;
} */